img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.icon {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

.icon > img {
  width: 20px;
  height: 20px;
}
